body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(33, 44, 94);
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

img{
    width: 200px;
}

.dataInput{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul#userSavedList{
    font-size: 3em;
    font-style: italic;
    color: red;
}

button{
    display: block;
    margin: auto;
}

p#aboutWebsite { 
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

p {
    margin: 10px;
}

.form-control {
    display: block;
    margin: auto;
    flex-wrap: wrap;
}

.btn {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

p1 {
    font-size: 1.3em;
    display: flex;
    justify-content: center;  
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 6px 6px black;
    color: rgb(255, 255, 255);
    background-color: rgb(53, 20, 26);
    

}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 25px;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 35px;
}

h4{
    display: flex;
    justify-content: center;
    color: rgb(53, 20, 26);
}

.definitions {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
}

.wikiInfo {
    display: block;
    width: 900px;
    margin: auto;
}

ul {
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(53, 20, 26);
    color: white;
}

.searchURL {
    display: flex;
    justify-content: center;
}